@model FPT_Final.Models.Entities.Trainer
@{
    ViewBag.Title = "SettingAccount";
    Layout = "~/Views/Trainer/TrainerLayout.cshtml";
}

<h2>SettingAccount</h2>
@using (Html.BeginForm("SettingAccount", "Trainer", FormMethod.Post))
{

    <table class="center">


        <tr>
            <td>Old Password</td>
            <td>
                @Html.EditorFor(pass => pass.Password)
            </td>
            <td>@Html.ValidationMessageFor(pass => pass.Password)</td>
        </tr>
        <tr class="rowspace">
            <td>New Password</td>

            <td>
                @Html.EditorFor(pass => pass.NewPassword)
            </td>
            <td>@Html.ValidationMessageFor(pass => pass.NewPassword)</td>
        </tr>

        <tr class="rowspace">
            <td colspan="3" id="button">
                <input type="submit" value="Change Password" />
            </td>
        </tr>
        <tr class="rowspace"><td colspan="3">@ViewBag.Message</td></tr>
    </table>

}
