@model FPT_Final.Models.Entities.Trainee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Staff/StaffLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trainee</h4>
    <hr />
    <table >
        <tr>
            <td style="padding-top:20px">
                <strong>
                    @Html.DisplayNameFor(model => model.Images)
                </strong>
            </td>
            <td style="padding-top:20px"><img src="@Url.Content(Model.Images)" style="height:100px; width:100px;" /></td>
        </tr>
        <tr style="padding-top:20px">
            <td style="padding-top:20px">
                <strong>
                    @Html.DisplayNameFor(model => model.Name)
                </strong>
            </td>
            <td style="padding-top:20px">@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr style="padding-top:20px">
            <td style="padding-top:20px">
                <strong>
                    @Html.DisplayNameFor(model => model.Age)
                </strong>
            </td>
            <td style="padding-top:20px">@Html.DisplayFor(model => model.Age)</td>
        </tr>
        <tr style="padding-top:20px">
            <td style="padding-top:20px">
                <strong>
                    @Html.DisplayNameFor(model => model.Gender)
                </strong>
            </td>
            <td style="padding-top:20px">@Html.DisplayFor(model => model.Gender)</td>
        </tr>
        <tr style="padding-top:20px">
            <td style="padding-top:20px">
                <strong>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </strong>
            </td>
            <td style="padding-top:20px">@Html.DisplayFor(model => model.PhoneNumber)</td>
        </tr>
        <tr style="padding-top:20px">
            <td style="padding-top:20px">
                <strong>
                    @Html.DisplayNameFor(model => model.Address)
                </strong>
            </td>
            <td style="padding-top:20px">@Html.DisplayFor(model => model.Address)</td>
        </tr>
        <tr style="padding-top:20px">
            <td style="padding-right:20px; padding-top:20px">
                <strong>
                    @Html.DisplayNameFor(model => model.ProgrammingLanguage) 
                </strong>
            </td>
            
            <td style="padding-top:20px">@Html.DisplayFor(model => model.ProgrammingLanguage)</td>
        </tr>
        <tr style="padding-top:20px">
            <td style="padding-top:20px">
                <strong>
                    @Html.DisplayNameFor(model => model.Email)
                </strong>
            </td>
            <td style="padding-top:20px">@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr style="padding-top:20px">
            <td style="padding-top:20px">
                <strong>
                    @Html.DisplayNameFor(model => model.Password)
                </strong>
            </td>
            <td style="padding-top:20px">@Html.DisplayFor(model => model.Password)</td>
        </tr>
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="background-color:dodgerblue"/> |
            @Html.ActionLink("Back to List", "ViewAll")
        </div>
    }
</div>
